<% layout('../layout/main') %>

<div>
	<form action="/room/create" method="post">
        <hr class="colorgraph">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Название комнаты" /></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <input type="text" id="stream" name="stream" placeholder="Ссылка стрим сокета" /></div>
            </div>
        </div>


        <hr class="colorgraph">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <input type="submit" value="Create" class="btn btn-lg btn-success btn-block" />
            </div>
        </div>

	</form>
</div>