<% layout('../layout/main') %>

<% layout('../layout/main') %>

<div>
	<form action="/room/edit/<%- room.getAttributes('_id') -%>" method="post">
        <hr class="colorgraph">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <div style="color: #ffffff">Имя комнаты</div>
                    <input type="text" id="name" name="name" value="<%- room.getAttributes('name') -%>"/>
                </div>

                    <div class="form-group">
                        <div style="color: #ffffff">Ссылка стрима</div>
		<input type="text" id="stream" name="stream" value="<%- room.getAttributes('stream') -%>"/>
                    </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
		<input type="submit" value="Update" />
                    </div>
                </div></div>
        </div></form>
</div>