<% layout('../layout/main') %>
<% setScripts(js) %>

<script>
	var GAME_TIMER = <%- game.timer -%>;
	var TIMER_PERIOD = <%- game.period -%>;
</script>




<div class="col-lg-7">

        <div class="stream-block">

<canvas id="videoCanvas" width="640" height="480">
	<p>
		Please use a browser that supports the Canvas Element, like
		<a href="http://www.google.com/chrome">Chrome</a>,
		<a href="http://www.mozilla.com/firefox/">Firefox</a>,
		<a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
	</p>
</canvas>
</div></div>
<div class="col-lg-5" style="height: 490px;">

<% if (user.isRoomOwner(room)) { %>
<div id="keywordWrapper">
	<input name="keyword" id="keyword" placeholder="Введите ключевое слово..."/>
	<button id="start">Старт</button>
	
	<div style="display: none" id="hiddenKeyword"></div>
</div>
<% } %>

<div class="col-lg-12 choices">
    <div id="choices" style="height:200px"></div>
    <label for="like" style="position: absolute;
top: 115px;"><span class="fa fa-thumbs-o-up" id="likeSpan" style="padding: 30px;font-size: 40px;color: green;cursor: pointer;"></span></label><input type="checkbox" id="like" value="1" style="display: none;">
    <label for="dislike" style="position: absolute;
top: 115px;
left: 340px;"><span class="fa fa-thumbs-o-down" id="dislikeSpan" style="padding: 30px;font-size: 40px;color: red;cursor: pointer;"></span></label><input type="checkbox" id="dislike" value="-1"  style="display: none;">
</div>
    <div class="col-lg-12" style="color: white;">
        <div>
            <h5 style="color:white;">
                Комната: <%- room.getAttributes('name') -%>  <small>Адресс стрима: <%- room.getAttributes('stream') -%></small>
            </h5>
            <p>Владелец: <%- room.getAttributes('user').firstname -%> 
				<% if (room.getAttributes('user')._id == user.getAttributes('_id').toString()) { %>
					<a class="btn btn-sm" href="/room/edit/<%- room.getAttributes('_id') -%>"> <span class="glyphicon glyphicon-pencil"></span> </a>
				<% } %>
				<br>
				
	<strong>Таймер: <span id="timer"><%- game.timer -%></span></strong>
	<div id="notification"></div>
	<!--
	<div class="alert alert-success">
      <strong>Игра началась!</strong>
    </div>
	<div class="alert alert-info">
      <strong>Серега</strong> угадал слово
    </div>
	<div class="alert alert-warning">

    </div>
	<div class="alert alert-danger">
      <strong>О нет!</strong> Время потрачено!
    </div>
		--!>
		
			</p>

			<div>
			</div>
        </div>
    </div>
    <div class="clearfix"></div>
        <div class="clearfix"></div> 

		</div>
<div class="clearfix"></div>


<div class="col-lg-12">
        <div class="container">
<div class="row">

<div id="users" class="conversation-wrap col-lg-3"></div>



<div class="message-wrap col-lg-8">
    <div class="msg-wrap"></div>

    <div class="send-wrap ">

        <textarea id="msg" style="height: auto;
max-height: 35px;" class="form-control send-message" rows="3" placeholder="Опишите что вы думаете..."></textarea>
		<div id="hiddenMsg" style="display: none">
		</div>
    </div>
    <div class="btn-panel" style="position: absolute;
top: 167px;
left: 540px;
background: transparent;">
        <a href="" id="sendMsg" style="background: transparent;" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</a>
    </div>
</div>




<script type="text/javascript" src="/js/jsmpg.js"></script>
<script type="text/javascript">
    var user = '<%- JSON.stringify(user.getAttributes()) %>';
	var fullUser = JSON.parse(user);	
    var rawRoom = '<%- JSON.stringify(room.getAttributes()) %>';
    var room = '<%- room.getAttributes("_id").toString() %>';
    var fullRoom = JSON.parse(rawRoom);	
	
	// Show loading notice
	var canvas = document.getElementById('videoCanvas');
	var ctx = canvas.getContext('2d');
	ctx.fillStyle = '#444';
	ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);

	// Setup the WebSocket connection and start the player
	var client = new WebSocket(' <%- room.getAttributes('stream') -%> ');
	var player = new jsmpeg(client, {canvas:canvas});	
</script>