<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link href="/css/custom.css" rel="stylesheet">
		<style>
			body {
				padding-top: 50px;
				padding-bottom: 20px;
			}
		</style>
		
		<!-- View CSS StyleSheets here: -->
		<%- stylesheets %>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>	
	<body>
		
    <div class="navbar navbar-inverse" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <div class="col-lg-6">
          	<a class="navbar-brand" href="/">Crocodile game</a>
          </div>
          <div class="col-lg-6">
          	<img class="croc" src="/img/logo.png">
          </div>
        </div>
        <div class="col-lg-12">
            <ul class="nav navbar-nav">
        
        <!--<li><a href="#">Создать комнату</a></li>-->
        
        <% if (!user) { %>

					<% } else { %>
							<li class="active"><a href="/">Комнаты</a></li>
					        <!--<li><a href="#">Профиль</a></li>
					        <li><a href="#">Моя статистика</a></li>			-->
							<li><a id="rooom" href="/room/create">Создать комнату</a></li>
							<li><a id="logoutBtn" href="/logout">Выйти (<%- user.getAttributes('firstname') %>)</a></li>
						
					<% } %>
			
		</ul>
        </div>
      </div>
           
    </div>
					
		
		<div class="container">
			
			<%- body %>




		</div> <!-- /container -->
		
		<script src="/vendor/bower_components/jquery/jquery.js"></script>
		<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/vendor/bower_components/highcharts/highcharts.js"></script>
        <script src="/js/highchartsTheme.js"></script>
        <script src="/js/socket.io.min.js"></script>
        <%- scripts %>
	</body>
</html>