<h1 style="color: #ffffff">
	Добро пожаловать в нашу интерактивную пантомиму
</h1>
<p style="color: #ffffff">
    Мы постарались повторить ощущения старого доброго крокодила!
</p>
<div class="col-lg-5 pull-right"><a href="/signin" class="btn btn-lg btn-success">Войти</a>
    <a href="/signup" class="btn btn-lg btn-default">Зарегистрироваться</a></div>