<% layout('../layout/main') %>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 register-form">

        <% if (errors.length) { %>
        <div class="alert alert-danger">
            <% for (var field in errors) { %>
            <div>
                <% errors[field].forEach(function(item) { %>
              <span>
                <%- item %>
              </span>
                <% }) %>
            </div>
            <% } %>
        </div>
        <% } %>


        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form class="navbar-form navbar-right" id="loginForm" action="/login" method="post">
                <fieldset>
                    <h2 style="color:white;">Пожалуйста представтесь</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                    </div>

                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="/signup" class="btn btn-lg btn-primary btn-block">Register</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>





    </div>
</div>
