<% layout('../layout/main') %>
<div class="row">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 register-form">

    <% if (errors) { %>
      <div class="alert alert-danger">
        <% for (var field in errors) { %>
          <div>                         
            <% errors[field].forEach(function(item) { %>
              <span>
                <%- item %>
              </span>
            <% }) %>
          </div>
        <% } %>
      </div>
    <% } %>

      <form role="form" action="/signup" method="post">
          <h2 style="color:white;">Пожалуйста заполните данные <small>Это всегда бесплатно и не больно...</small></h2>
          <hr class="colorgraph">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
              <input type="text" name="firstname" id="firstname" class="form-control input-sm" placeholder="First Name">
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">

              <input type="text" name="lastname" id="lastname" class="form-control input-sm" placeholder="Last Name">
                  </div>
              </div>
          </div>
          <div class="form-group">
          <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
            </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control input-sm" placeholder="Confirm Password">
            </div>
        </div>
    </div>
          <hr class="colorgraph">
          <div class="row">
              <div class="col-xs-12 col-md-6 pull-right">
        <input type="submit" value="Зарегистрироваться" class="btn btn-lg btn-success pull-right">
              </div>
          </div>
      </form>

  </div>
</div>
</div>