<div style="margin: 15px">
    
	<% rooms.forEach(function(room) { %>
	<div class="col-xs-18 col-sm-6 col-md-3">
                      <div class="thumbnail">
                        <img src="http://placehold.it/500x300" alt="">
                          <div class="caption">
                            <h4><a href="/room/get/<%- room.getAttributes('_id').toString() %>"><%- room.getAttributes('name') %></a> </h4>
                           
                            <p><a href="/room/get/<%- room.getAttributes('_id').toString() %>" class="btn btn-info btn-xs" role="button">Войти</a> <% if (user.isRoomOwner(room)) { %><a href="/room/delete/<%- room.getAttributes('_id') -%>" class="btn btn-default btn-xs" role="button">Удалить</a><% } %></p>
                        </div>
                      </div>

</div>
    <% }); %>

</div>
